@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.button_primary {
  @apply py-1.5 px-3 bg-[#ededed] text-sm text-[#111] rounded-lg font-medium;
}

.input_field {
  @apply px-4 py-3 rounded-lg bg-[#0a0a0a] border border-white/10 text-white focus:outline-none hover:border-white/30 focus:border-white/30 duration-200;
}
